header {
  background-color: darkgreen;
}
.navbar-light .navbar-brand {
  color: white;
}
.text-center {
  margin: 20px auto 40px;
}
div.container {
  border: 1px solid black;
  background-color: olivedrab;
  color: white;
}
.navbar {
  width: 100%;
}
ul {
  background-color: greenyellow;
}
li:hover {
  background-color: honeydew;
}
